extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/LoginCreateUser.jsx"/>
  |<script type="text/jsx" src="js/EditProject.jsx"/>
  |<script type="text/jsx" src="js/PickCreateProject.jsx"/>
  |<script type="text/jsx" src="js/PickProjectDropDown.jsx"/>
  //- endinject


